<div class="playlist-container" *ngIf="playlists && playlists.length > 0">
    <mat-card class="playlist" *ngFor="let item of playlists">
      <mat-card-header>
        <div mat-card-avatar class="playlist-header-image"></div>
        <mat-card-title class="titulo-playlist">{{item.nome}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="item.urlImage" width="250px" height="200px" alt="">
      <br>
      <mat-card-content class="descricao-playlist">
        <p>
          {{item.descricao}}
        </p>
      </mat-card-content>
      <br>
      <mat-card-actions>
        <button mat-button class="botao-playlist" (click)="redirectToDetail(item.id)">Ver Músicas</button>
      </mat-card-actions>
    </mat-card>
  </div>

<div class="footer">
</div>
  <!-- ja mexi -->
